<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quản lý nhân khẩu
  </title>
  <!-- BOOTSTRAP STYLES-->
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <!-- FONTAWESOME STYLES-->
  <link href="assets/css/font-awesome.css" rel="stylesheet" />
  <!-- MORRIS CHART STYLES-->
  <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
  <!-- CUSTOM STYLES-->
  <link href="assets/css/custom.css" rel="stylesheet" />
  <!-- GOOGLE FONTS-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">
</head>
<body>
    <div id="wrapper">
        <!--HEADER-->
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.html"><span style="font-size: 20px ">Cộng hòa Xã hội chủ nghĩa Việt Nam</span></a> 
            </div>
            <div class="user_name"> Đỗ Mạnh Cường &nbsp; <a href="#" class="btn btn-danger square-btn-adjust"><i class="fa fa-power-off fa-1x"></i>&nbsp;Logout</a> </div>
        </nav> 
        <!--END HEADER-->  
        <!-- /. NAV TOP  --> 
        <!--MENU-->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <img src="assets/img/quochuy.png" class="user-image img-responsive"/>
                    </li>


                    <li>
                        <a class="active-menu"  href="home.html"><i class="fa fa-home fa-1x"></i> Trang Chủ</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user fa-1x"></i>Biểu đồ - Thống kê<span class="fa arrow"></span></a>
                        <ul class="nav">
                            <li>
                                <a href="population_chart.html">Biểu đồ</a>
                            </li>
                            <li>
                                <a href="statistical.html">Thống kê</a>
                            </li>
                           
                        </ul>
                    </li>

                    

                    <li>
                        <a href="#"><i class="fa fa-users fa-1x"></i>Quản Lý<span class="fa arrow"></span></a>
                        <ul class="nav">
                            <li>
                                <a href="people.html">Nhân khẩu</a>
                            </li>
                            
                            <li>
                                <a href="household.html">Hộ khẩu</a>
                            </li>
                            <li>
                                <a href="people_id.html">Căn cước công dân</a>
                            </li>

                            <li>
                                <a href="criminal_history.html">Tiền án tiền sự</a>
                            </li>
                            
                            <li>
                                <a href="stay_temporarily_absent.html">Tạm trú - Tạm vắng</a>
                            </li>
                           
                        </ul>
                    </li> 

                    




                    
                  
                </ul>

            </div>
            
        </nav>   
        <!--END MENU-->
        <!-- /. NAV SIDE  -->


        <div id="page-wrapper" >

            <!--CONTENT-->
            <!--Thông Tin Cơ Bản-->
                                    <div class="col-md-12 col-sm-12 tab-content-mid">
                                        <div class="panel panel-default">
                                        
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <td colspan="2" class="heade-table"><h1><b>Thông Tin Chi Tiết</b></h1></td>
                                                            </tr>
                                                            <tr>
                                                                <img src="assets/img/anh_the.jpg" class="img_people"/>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><h4><b>Họ và tên</b></h4></td>
                                                                <td><input name="hoTen" class="form-control" placeholder="-Họ và tên-" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td><h4><b>Ngày sinh</b></h4></td>
                                                                <td><input type="date" name="ngaySinh" class="form-control" placeholder="11/10/1998" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td><h4><b>Giới tính</b></h4></td>
                                                                <td>
                                                                    <select name="gioiTinh" class="form-control">
                                                                        <option>Nam</option>
                                                                        <option>Nữ</option>
                                                                        <option>Khác</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><h4><b>Dân tộc</b></h4></td>
                                                                <td>
                                                                    <select name="danToc" class="form-control">
                                                                        <option>Kinh</option>
                                                                        <option>Tày</option>
                                                                        <option>Thái</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><h4><b>Số CMND (nếu có)</b></h4></td>
                                                                <td><input name="soCMND" class="form-control" placeholder="-Số CMND-" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td><h4><b>Số hộ khẩu</b></h4></td>
                                                                <td><input name="soHoKhau" class="form-control" placeholder="-Số hộ khẩu-" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td><h4><b>Tôn giáo</b></h4></td>
                                                                <td>
                                                                    <select name="tonGiao" class="form-control">
                                                                        <option>Phật giáo</option>
                                                                        <option>Thiên chúa giáo</option>
                                                                        <option>Khác</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><h4><b>Quốc tịch</b></h4></td>
                                                                <td>
                                                                    <select name="quocTich" class="form-control">
                                                                        <option>Việt Nam</option>
                                                                        <option>Khác</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><h4><b>Nơi sinh</b></h4></td>
                                                                <td>
                                                                    <table class="table">
                                                                        <tr>
                                                                            <td>Quốc gia</td>
                                                                            <td>Tỉnh/ Thành phố</td>
                                                                            <td>Quận/ Huyện</td>
                                                                            <td>Phường/ Xã</td>
                                                                            <td>Địa chỉ</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <select name="noiSinh-QuocGia" class="form-control">
                                                                                    <option>Việt Nam</option>
                                                                                    <option>Khác</option>
                                                                                </select>
                                                                            </td>  
                                                                            <td>
                                                                                <select name="noiSinh-Tinh" class="form-control">
                                                                                    <option>Hà Nội</option>
                                                                                    <option>Khác</option>
                                                                                </select>
                                                                            </td>  
                                                                            <td>
                                                                                <select name="noiSinh-Huyen" class="form-control">
                                                                                    <option>Bắc Từ Liêm</option>
                                                                                    <option>Khác</option>
                                                                                </select>
                                                                            </td>  
                                                                            <td>
                                                                                <select name="noiSinh-Xa" class="form-control">
                                                                                    <option>Minh Khai</option>
                                                                                    <option>Khác</option>
                                                                                </select>
                                                                            </td> 
                                                                            <td>
                                                                                <input name="noiSinh-DiaChi" class="form-control" placeholder="-Địa chỉ-" />
                                                                            </td>                                              
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><h4><b>Nguyên quán</b></h4></td>
                                                                <td>
                                                                    <table class="table">
                                                                        <tr>
                                                                            <td>Quốc gia</td>
                                                                            <td>Tỉnh/ Thành phố</td>
                                                                            <td>Quận/ Huyện</td>
                                                                            <td>Phường/ Xã</td>
                                                                            <td>Địa chỉ</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <select name="nguyenQuan-QuocGia" class="form-control">
                                                                                    <option>Việt Nam</option>
                                                                                    <option>Khác</option>
                                                                                </select>
                                                                            </td>  
                                                                            <td>
                                                                                <select name="nguyenQuan-Tinh" class="form-control">
                                                                                    <option>Hà Nội</option>
                                                                                    <option>Khác</option>
                                                                                </select>
                                                                            </td>  
                                                                            <td>
                                                                                <select name="nguyenQuan-Huyen" class="form-control">
                                                                                    <option>Bắc Từ Liêm</option>
                                                                                    <option>Khác</option>
                                                                                </select>
                                                                            </td>  
                                                                            <td>
                                                                                <select name="nguyenQuan-Xa" class="form-control">
                                                                                    <option>Minh Khai</option>
                                                                                    <option>Khác</option>
                                                                                </select>
                                                                            </td> 
                                                                            <td>
                                                                                <input name="nguyenQuan-DiaChi" class="form-control" placeholder="-Địa chỉ-" />
                                                                            </td>                                              
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><h4><b>Nơi thường trú</b></h4></td>
                                                                <td>
                                                                    <table class="table">
                                                                        <tr>
                                                                            <td>Quốc gia</td>
                                                                            <td>Tỉnh/ Thành phố</td>
                                                                            <td>Quận/ Huyện</td>
                                                                            <td>Phường/ Xã</td>
                                                                            <td>Địa chỉ</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <select name="thuongTru-QuocGia" class="form-control">
                                                                                    <option>Việt Nam</option>
                                                                                    <option>Khác</option>
                                                                                </select>
                                                                            </td>  
                                                                            <td>
                                                                                <select name="thuongTru-Tinh" class="form-control">
                                                                                    <option>Hà Nội</option>
                                                                                    <option>Khác</option>
                                                                                </select>
                                                                            </td>  
                                                                            <td>
                                                                                <select name="thuongTru-Huyen" class="form-control">
                                                                                    <option>Bắc Từ Liêm</option>
                                                                                    <option>Khác</option>
                                                                                </select>
                                                                            </td>  
                                                                            <td>
                                                                                <select name="thuongTru-Xa" class="form-control">
                                                                                    <option>Minh Khai</option>
                                                                                    <option>Khác</option>
                                                                                </select>
                                                                            </td> 
                                                                            <td>
                                                                                <input name="thuongTru-DiaChi" class="form-control" placeholder="-Địa chỉ-" />
                                                                            </td>                                              
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><h4><b>Chỗ ở hiện tại</b></h4></td>
                                                                <td>
                                                                    <table class="table">
                                                                        <tr>
                                                                            <td>Quốc gia</td>
                                                                            <td>Tỉnh/ Thành phố</td>
                                                                            <td>Quận/ Huyện</td>
                                                                            <td>Phường/ Xã</td>
                                                                            <td>Địa chỉ</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <select name="choOHienTai-QuocGia" class="form-control">
                                                                                    <option>Việt Nam</option>
                                                                                    <option>Khác</option>
                                                                                </select>
                                                                            </td>  
                                                                            <td>
                                                                                <select name="choOHienTai-Tinh" class="form-control">
                                                                                    <option>Hà Nội</option>
                                                                                    <option>Khác</option>
                                                                                </select>
                                                                            </td>  
                                                                            <td>
                                                                                <select name="choOHienTai-Huyen" class="form-control">
                                                                                    <option>Bắc Từ Liêm</option>
                                                                                    <option>Khác</option>
                                                                                </select>
                                                                            </td>  
                                                                            <td>
                                                                                <select name="choOHienTai-Xa" class="form-control">
                                                                                    <option>Minh Khai</option>
                                                                                    <option>Khác</option>
                                                                                </select>
                                                                            </td> 
                                                                            <td>
                                                                                <input name="choOHienTai-DiaChi" class="form-control" placeholder="-Địa chỉ-" />
                                                                            </td>                                              
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><h4><b>Trình độ học vấn</b></h4></td>
                                                                <td><input name="trinhDoHocVan" class="form-control" placeholder="-Trình độ học vấn-" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td><h4><b>Nghề nghiệp hiện tại</b></h4></td>
                                                                <td><input name="ngheNghiepHientai" class="form-control" placeholder="-Nghề nghiệp hiện tại-" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td><h4><b>Tiền án tiền sự</b></h4></td>
                                                                <td><input name="ngheNghiepHientai" class="form-control" placeholder="-Tiền án tiền sự-" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td><h4><b>Tình trạng sống</b></h4></td>
                                                                <td>
                                                                    <select name="quocTich" class="form-control">
                                                                        <option>Còn sống</option>
                                                                        <option>Đã chết</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><h4><b>Ảnh đại diện</b></h4></td>
                                                                <td>
                                                                    <form action="/action_page.php">
                                                                        <input type="file" name="myFile"><br><br>
                                                                        <input type="submit">
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a href="people.html"><button style="float: right; width: 100%;" type="submit" class="btn btn-primary">Trở lại</button></a>
                                                                </td>
                                                                <td>
                                                                    <table class="table">
                                                                        <tr>
                                                                            <td>
                                                                                <button style="float: right; width: 100%;" type="submit" class="btn btn-primary">Xóa</button>
                                                                            </td>
                                                                            <td>
                                                                                <button style="float: right; width: 100%;" type="submit" class="btn btn-primary">Cập nhập thông tin</button>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                      
                                </div>
                    
                </div>


            </div>
<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="assets/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="assets/js/jquery.metisMenu.js"></script>
<!-- MORRIS CHART SCRIPTS -->
<script src="assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="assets/js/morris/morris.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="assets/js/custom.js"></script>


</body>
</html>
